
jupyterlab
python-dotenv
notebook
langchain
langchain_openai
langchain-community
langchain
openai-whisper
pytube
openai
torch==2.4.0+cu121
torchaudio==2.4.0+cu121
torchvision==0.19.0+cu121
transformers
youtube-transcript-api
pandas
yfinance
scikit-learn
docarray
pinecone
langchain-pinecone
ipywidgets
langgraph
faiss-cpu
langchain-cohere